@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

$universalGrey: #767676;
$universalPurple: #BB86FC;
$universalYellow: #DCB24D;

body {
    font-family: 'Raleway', sans-serif !important;
}

span b {
    color: lighten($universalGrey, 5%);
}

h5 {
    color: $universalYellow;
}

ul.navtabs {
    list-style-type: none;
    li.nav-item{
        width: fit-content;
        a {
            color: $universalGrey;
        }
        .active {
            border-bottom: 1px solid $universalGrey;
            border-bottom-width: thin;
            text-align: center;
        }
    }
}

ul.navtabsMobile {
    list-style-type: none;
    li.nav-item{
        a {
            color: $universalGrey;
        }
        .active {
            border-bottom: 1px solid $universalGrey;
            border-bottom-width: thin;
            text-align: center;
        }
    }
}

#themeToggle {
    text-align: center;
    margin-top: .5rem;
    .btn{
        outline: none;
    }
}

.navbar {
    margin-top: 1.5rem;
    .nav-item {
        text-align: right;
        color: $universalGrey;
    }
}
#mobileTopPane {
    margin-bottom: .5rem;
}

.overlay {
    position: absolute;
    bottom: 0;
    opacity: .7;
    margin: 0 auto;
    color: white;
    width: 95%;
    text-align: center;
  }
  
#desktopContactImage {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    // box-shadow: 1px 3px 8px 2px darken($universalGrey, 5%);
}

@media(max-width: 767px){
    #desktopContactImage {
        width: 250px;
        height: 250px;
    }
}

@media(max-width: 400px){
    .nav-item {
        margin: 0 auto !important;
    }
}

@media (max-width:575px){
    #mobileTopPane {
        background-image: url('./images/IMG_0046.jpeg');
        // background-image: url('./images/IMG_2575.jpeg');
        background-size: cover;
        background-position: center;
    }
}

.mobileContact {
    font-size: .9rem;
    color: white;
    min-height: fit-content;
    border-radius: 8px;
    .content {
        height: fit-content;
        background-color: darken($universalGrey, 40%);
        opacity: .6;
        border-radius: 8px;
        #socialLinks {
            a {
                color: white;
                font-size: 2rem;
            }
        }
    }
}
#mobileContactImage {
    opacity: .3;
}

#socialLinks {
    margin: 0 auto;
    a {
        color: $universalYellow;
        font-size: 1.2rem;
    }
}

#contact {
    margin: auto;
}

#desktopContact {
    height: 80vh;
}

#desktopAppView #activePane  {
    max-height: 85vh;
    overflow-y: scroll;
}

hr {
    background-color: $universalGrey !important;
}
@media print {
    #desktopAppView #activePane  {
        max-height: auto;
    }
}
.siteLink {
    color: $universalYellow;
}
.siteLink:hover {
    color: darken($universalYellow, 20%) !important;
}

#mobileAppView #activePane  {
    max-height: 50vh;
    overflow-y: scroll;
}
// overwriting bootstrap nav-tabs
.nav-tabs {
    border-bottom: 1px solid $universalGrey !important;
    a {
        color: $universalGrey !important;
        border: none;
    }
    .nav-item a:hover {
        border: none !important;
    }
    .nav-link.active {
        background-color: transparent !important;
        border: none !important;
        color: $universalYellow !important;
    }
}