// .App {
//     background-color: #282c34;
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     font-size: calc(10px + 2vmin);
//     color: white;
//     text-align: center;
// }

body {
    font-size: .85rem;
}

$universalGrey: #767676;
$universalPurple: #BB86FC;

ul.navtabs {
    list-style-type: none;
    li.nav-item{
        width: fit-content;
        a {
            color: $universalGrey;
        }
        .active {
            border-bottom: 1px solid $universalGrey;
            border-bottom-width: thin;
            text-align: center;
        }
    }
}

ul.navtabsMobile {
    list-style-type: none;
    li.nav-item{
        a {
            color: $universalGrey;
        }
        .active {
            border-bottom: 1px solid $universalGrey;
            border-bottom-width: thin;
            text-align: center;
        }
    }
}

#themeToggle {
    text-align: center;
    margin-top: .5rem;
    .btn{
        outline: none;
    }
}

.navbar {
    margin-top: 1.5rem;
    .nav-item {
        text-align: right;
        color: $universalGrey;
    }
}
#mobileTopPane {
    height: 300px;
}
